* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript-Regular.eot");
  src: local("O"), url("../fonts/KaushanScript-Regular.woff") format("woff"), url("../fonts/KaushanScript-Regular.ttf") format("truetype"), url("../fonts/KaushanScript-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.eot");
  src: local("O"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("O"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  background: url("../images/background.jpg") center center/cover no-repeat;
  color: #ffffff;
}

.header a {
  color: #ffffff;
}

.intro {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  padding: 28px 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu li {
  margin-left: 55px;
}

.header__menu li:first-child {
  margin-left: 0;
}

.nav__link {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  left: 0;
  top: 100%;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.nav__link:hover {
  color: #fce38a;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav__link:hover:after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fce38a;
  opacity: 1;
}

.header__content {
  text-align: center;
  margin-top: 180px;
}

.header__subtitle {
  font-family: "KaushanScript";
  font-size: 72px;
}

.header__title {
  margin: 42px auto 0px;
  max-width: 800px;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
  position: relative;
}

.header__title::after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header__btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 32px;
  border: 3px solid #ffffff;
  margin-top: 140px;
  -webkit-transition: background 0.3s linear, color 0.3s linear;
  transition: background 0.3s linear, color 0.3s linear;
}

.header__btn:hover {
  background-color: #fff;
  color: #333;
}

.bottom__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.bottom__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  opacity: 0.5;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 3px solid #fff;
  padding-top: 25px;
  margin-left: 30px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.bottom__link:first-child {
  margin-left: 0;
}

.bottom__link:hover {
  opacity: 1;
}

.bottom__link span {
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.inner {
  width: 100%;
  text-align: center;
  padding: 90px 0;
}

.subtitle {
  color: #333333;
  font-family: "KaushanScript";
  font-size: 24px;
}

.about__title {
  margin-bottom: 90px;
}

.title__title {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 23px;
  position: relative;
}

.title__title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
}

.about__text {
  color: #999999;
  font-family: "Roboto-Regular";
  font-size: 15px;
  line-height: 24px;
  max-width: 983px;
  margin: 0 auto 100px;
}

.about__galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  background-color: #95e1d3;
  position: relative;
}

.about__item:hover .about__image img {
  opacity: 0.2;
}

.about__item:hover .about__image {
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__team {
  opacity: 1;
}

.about__image {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.about__image img {
  display: block;
  -webkit-transition: opasity 0.2s linear;
  transition: opasity 0.2s linear;
}

.about__team {
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.about__team::after {
  content: "";
  background: url("../images/icons/USERS.png") no-repeat;
  width: 100%;
  height: 23px;
  position: absolute;
  top: -30px;
  left: 45%;
}

/*===============statistics =======================*/
.statistics {
  background-color: #95e1d3;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  text-align: center;
}

.stat__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 90px 0;
  border-left: 1px solid #b5eae0;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__number {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.stat__text {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* =====================servisces==================== */
.services__column {
  margin-top: 100px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.333%;
          flex: 1 0 33.333%;
  position: relative;
  padding: 50px 0 50px 60px;
}

.services__item:nth-child(1), .services__item:nth-child(2), .services__item:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
}

.services__item:nth-child(1):after, .services__item:nth-child(2):after, .services__item:nth-child(3):after {
  content: "";
  background: url("../images/services/services_0.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 31px;
  left: 0;
  top: 50px;
}

.services__item:nth-child(2)::after {
  content: "";
  background: url("../images/services/services_1.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 31px;
  left: 0;
  top: 50px;
}

.services__item:nth-child(3)::after {
  content: "";
  background: url("../images/services/services_2.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 31px;
  left: 0;
  top: 50px;
}

.services__item:nth-child(4)::after {
  content: "";
  background: url("../images/services/services_3.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 31px;
  left: 0;
  top: 50px;
}

.services__item:nth-child(5)::after {
  content: "";
  background: url("../images/services/services_4.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 31px;
  left: 0;
  top: 50px;
}

.services__item:nth-child(6)::after {
  content: "";
  background: url("../images/services/services_5.png") no-repeat;
  position: absolute;
  width: 100%;
  height: 31px;
  left: 0;
  top: 50px;
}

.services__subject {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
}

.services__text {
  padding-top: 20px;
  color: #999999;
  font-family: "Roboto-Regular";
  font-size: 15px;
  line-height: 24px;
  max-width: 270px;
}

/* ===================design=============== */
.design {
  background: url("../images/bg_2.jpg") center center/cover no-repeat;
}

.design__inner {
  text-align: center;
  padding: 90px 0 0;
}

.design__content {
  position: relative;
  max-width: 660px;
  margin: 0 auto;
  margin-top: 86px;
}

.design__iphone {
  position: absolute;
  bottom: -90px;
  right: -70px;
}

/* ===================wedo======================= */
.wedo__inner {
  margin-top: 20px;
}

.wedo__text {
  margin: 90px 0;
  font-family: "Roboto-Regular";
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}

.wedo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.wedo__item {
  width: 50%;
  padding: 0 15px;
}

.acoordion {
  text-align: left;
}

.acoordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.acoordion__item:last-child {
  margin-bottom: 0px;
}

.accordion__title {
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  padding: 24px 20px 20px 60px;
  display: block;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  position: relative;
}

.accordion__title:hover {
  background-color: #e5e5e5;
}

.accordion__title::before {
  content: "";
  background: url("../images/wedo/icons/wedo_0.png") center center/cover no-repeat;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 25%;
  position: absolute;
}

.accordion__title::after {
  content: "";
  height: 20px;
  width: 20px;
  border-top: 4px solid #33333398;
  border-right: 4px solid #33333393;
  position: absolute;
  top: 45%;
  right: 20px;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.title__1::before {
  content: "";
  background: url("../images/wedo/icons/wedo_1.png") center center/cover no-repeat;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 25%;
  position: absolute;
}

.title__2::before {
  content: "";
  background: url("../images/wedo/icons/wedo_2.png") center center/cover no-repeat;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 25%;
  position: absolute;
}

.accordion__input {
  width: 0;
  height: 0;
  position: absolute;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.accordion__input:checked ~ .accordion__title {
  background-color: #e5e5e5;
}

.accordion__input:checked ~ .accordion__title::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.accordion__input:checked ~ .accordion__text {
  display: block;
}

.accordion__text {
  font-style: italic;
  color: #999999;
  font-family: "Roboto-Regular";
  font-size: 15px;
  line-height: 24px;
  padding: 20px;
  display: none;
  height: 180px;
  overflow-y: auto;
}

/* ============slider============== */
.slider {
  background-color: #f8f8f8;
}

.slider__inner {
  position: relative;
}

.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  overflow: hidden;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90px;
}

.slider__image {
  padding: 45px;
  border: 3px solid #95e1d3;
}

.slider__text {
  font-style: italic;
  color: #999999;
  font-family: "Roboto-Regular";
  font-size: 15px;
  line-height: 24px;
  margin-left: 60px;
}

.slider__autor {
  color: #333333;
  font-family: "KaushanScript";
  font-size: 24px;
  position: relative;
  padding-left: 70px;
  margin-top: 23px;
}

.slider__autor::before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  left: 0;
  top: 50%;
}

/* slider style */
.btn__prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.btn__next {
  position: absolute;
  right: 0;
  top: 50%;
}
